*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    border: none;
    outline: none;
    text-decoration: none;
    font-weight: normal;
    transition: 0.2s linear;
}
html{
    font-size: 80%;
    overflow: hidden;
}
body{
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% ); 
    padding: 2.5rem;
    gap: 20px;
}
header{
    width: 300px;
    height: 540px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(0.64px);
    text-align: center;
    padding: 16px;
    border-radius: 16px;
}


header .user{
    padding-top: 32px;
}
header .user img{
    margin: 16px 0;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 0 16px rgba(255, 255, 255, 0.2);
}
header .user h2{
    font-size: 25px;
    color: #fff;
    padding: 16px;
    font-weight: lighter;
}

header .nav-bar{
    padding: 10px;
}
header .nav-bar ul li{
    margin: 10px 0;
    list-style: none;
}
.header .nav-bar ul li a{
    text-decoration: none;
    display: block;
    padding: 7px;
    font-size: 17px;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}
.header .nav-bar ul li a:hover{
    background: rgba(0, 0, 0, 0.4);
}
.header h3{
    font-size: 12px;
    color: #fff;
    font-family: sans-serif;
}
.container{
    width: 970px;
    height: 570px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(0.64px);
    text-align: center;
    border-radius: 16px;
    overflow: hidden;
}
.container #home{
    padding-top: 180px;
}
.container #home h2{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
#home h3{
    width: 0ch;
    overflow: hidden;
    font-size: 20px;
    color: #fff;
    margin: 0 35%;
    margin-top: 10px;
    white-space: nowrap;
    animation: text 4s steps(22) infinite;
    border-right: 3px solid #fff;
}
@keyframes text {
    0%{
        width: 0ch;
    }
    50%{
        width: 22ch;
    }
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.container section ul{
    display: flex;
    list-style: none;
    display: inline-flex;
    padding-top: 130px;
    gap: 15px;
}
.container section ul li a{
    height: 40px;
    width: 40px;
}
#home .fa{
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 50%;
}
#home .fa:hover{
    background:rgba(0, 0, 0, 0.2);
}
#skills{
    margin: 0 2rem;
    display: flex;
}
#skills h1{
    font-size: 27px;
    font-weight: bolder;
    color: #fff;
    padding: 2rem;
}
.s-div1{
    width: 35%;
    height: 440px;
    float: left;
}
.s-div2{
    width: 60%;
    height: 440px;
    float: right;
}
.s-div2 .p-box{
    width: 94%;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 2%;
    padding: 5px;
    border-radius: 1rem;
    border: none;
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
} 
.s-div2 .p-box:hover{
    outline: 2px solid aqua;
}
.s-div2 .p-box h2{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 15px;
    margin: 0 2%;
}
.s-div2 .p-box .bar{
    height: 5px;
    width: 96%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    margin: 5px 2%;
}
.s-div2 .p-box .bar span{
    background-color: #fff;
    height: 5px;
    position: absolute;
    left: 43%;
    border-radius: 1rem 0 0 1rem;
}
.s-div2 .p-box:nth-child(1) .bar span{
    width: 50%;
}
.s-div2 .p-box:nth-child(2) .bar span{
    width: 45%;
}
.s-div2 .p-box:nth-child(3) .bar span{
    width: 35%;
}
.s-div2 .p-box:nth-child(4) .bar span{
    width: 40%;
}
.s-div2 .p-box:nth-child(5) .bar span{
    width: 45%;
}
.s-div2 .p-box:nth-child(6) .bar span{
    width: 42%;
}
.s-div2 .p-box:nth-child(7) .bar span{
    width: 43%;
}
#skills div h4{
    font-size: 40px;
    color: #fff;
    text-align: left;
}
#skills div p{
    font-size: 15px;
    color: #fff;
    text-align: left;
    margin: 10px 0;
}

#contact h1{
    font-size: 30px;
    color: #fff;
    margin: 2rem 0 0 0;
    font-weight: bolder;
}
#contact .c-main{
    display: flex;
    justify-content: space-between;
    padding: 4rem 4rem 0 4rem;
}
#contact .c-main form{
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    width: 50%;
}
#contact .c-main form .c-box{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 0 1rem;
    margin: 1rem 0;
    height: 4rem;
    font-size: 1.7rem;
    color: #fff;
    width: 44%;
}
#contact .c-main form .c-box::placeholder{
    color: #fff;
    text-transform: capitalize;
}
#contact .c-main form .c-msgbox::placeholder{
    color: #fff;
    text-transform: capitalize;
}
#contact .c-main form .c-msgbox{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 0 1rem;
    margin: 1rem 0;
    height: 10rem;
    font-size: 1.7rem;
    color: #fff;
    width: 100%;
    resize: none;
    overflow: hidden;
}
#contact .c-main form .c-btn{
    height: 4rem;
    width: 20%;
    border-radius: 1rem;
    font-size: 1.7rem;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 1rem 0;
   /* margin-left: 80%; */
}
#contact .c-main form .c-btn:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
#contact .c-main .address{
    display: block;
    padding-right: 10rem;
    text-align: left;
}
#contact .c-main .address .add{
    padding-top: 2rem;
}
#contact .c-main .address .add h3{
    font-size: 1.7rem;
    color: #fff;
}
#contact .c-main .address .add h3 i{
    width: 5px;
    height: 5px;
    font-size: 2rem;
}
#contact .c-main .address .add p{
    color: #fff;
    font-size: 15px;
}

#about .fa{
    float: left;
    font-size: 20rem;
    color: rgba(255, 255, 255, 0.7);
}
#about p{
    font-size: 15px;
    color: #fff;
    margin: 10rem 2rem 0 22rem ;
    text-align: left;
    height: 136px;
    overflow: hidden;
}
#about h1{
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    margin: 1.5rem; 
}
.a-foot{
    width: 80%;
    height: 198px;
    border: none;
    margin: 20px 10%;

}
.progress{
    height: 40px;
    width: 90%;
    background-color: rgba(4,189,228,1);
    margin: 5%;
    padding: 2px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
}
.progress .bar{
    height: 5px;
    width: 90%;
    background-color: #fff;
    margin: 3px 5%;
}
.progress h2{
    font-size: 16px;
    text-align: left;
    width: 90%;
    margin: 0 5%;
    color: white;
}
.progress .bar span{
    position: absolute;
    height: 5px;
    margin-left: -32.4%;
    width: 10%;
    background-color: black;
}
.progress:nth-child(1) .bar span{
    width: 60%;
}
.progress:nth-child(2) .bar span{
    width: 56%;
}
.progress:nth-child(3) .bar span{
    width: 59%;
}


@media screen and (max-width: 750px) {
    body{
        display: block;
    }
    .user{
        display: none;
    }
    .container{
        height: 520px;
        margin-top: 10px;
        width: 100%;
        overflow: scroll;
    }
    ::-webkit-scrollbar{
        background: rgba(0, 0, 0, 0);
    }
    ::-webkit-scrollbar-corner{
        background-color: rgba(0, 0, 0, 0);
    }
    header{
        width: 93.5%;
        height: 20px;
        background: rgba(0, 0, 0, 0.3);
        box-shadow: 0 16px 32px rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(0.64px);
        text-align: center;
        padding: 16px;
        border-radius: 16px;
        display: flex;
        justify-content: center;
    }
    header .nav-bar ul li{
        list-style: none;
        display: flex;
    }
    .header .nav-bar ul{
        display: flex;
    }
    .header .nav-bar ul li a{
        text-decoration: none;
        font-size: 17px;
        color: white;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
        margin: -25px auto;
        width: 80px;
        height: 20px;
        margin-left: 14%;
    }
    .header .nav-bar ul li a:hover{
        background: rgba(0, 0, 0, 0.4);
    }
    .header h3{
        display: none;
    }
    #contact .c-main .address{
        display: none;
    }
    #contact .c-main form{
        width: 100%;
    }
}